@use './components/reset';
@use './components/variables' as vars;
@use './components/header';



body {
    display: grid;
    grid-template: 
            "head" 90px
            "body" 1fr / 1fr;
    background-color: vars.$primary-color;
}