@use './components/reset';
@use './components/variables' as vars;
@use './components/header';



body {
    display: grid;
    grid-template: 
            "head" 90px
            "body" 1fr / 1fr;
    background: vars.$primary-color;
    background: linear-gradient(335deg, vars.$primary-color 39%, vars.$fourth-color 60%);
    &::-webkit-scrollbar{
        width: 10px;
        box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 10px;
        background-color: vars.$secondary-color;
    }
    &::-webkit-scrollbar-thumb{
        border-radius: 10px;
        box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: lighten(vars.$primary-color, 10%);
    }
    .main {
        grid-area: body;
        padding: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
        &__container {
            width: 80%;
            height: 300px;
            margin: 32px 0;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: vars.$secondary-color;
            border: 8px groove vars.$third-color;
            border-radius: 25px 8px 25px 25px;
            &-nav {
                ul {
                    li {
                        list-style: none;
                        a {
                            text-decoration: none;
                        }
                    }
                }
                &-botton {
                    width: 200px;
                    position: absolute;
                    top: 0;
                    right: 0;
                    margin: 8px 8px 0 0;
                    display: flex;
                    justify-content: center;
                    gap: 12px;
                    button {
                        width: 40px;
                        height: 25px;
                        background-color: vars.$primary-color;
                        color: vars.$secondary-color;
                        text-align: center;
                        border-radius: 5px;
                        box-shadow: 2px 3px 3px black;
                        transition: all 0.3s ease;
                        &:hover {
                            cursor: pointer;
                            background-color: lighten(vars.$primary-color, 10%);
                            transform: scale(1.09);
                            box-shadow: 3px 4px 4px black;
                        }
                    }
                }
            }
        }
    }
}

// alerta modal

.pop {
    position: fixed;
    z-index: 1000; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 40px 0 ;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.4s ease-in-out;
    animation: showmodal 0.4s linear 0.00000001s 1 normal forwards running;
    @keyframes showmodal {
        from {
            opacity: 0;
            transform: scale(0.1);
        }
        to {
            opacity: 1;
            transform: scale(1);
        }
    }
    pre {
        width: 80%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        background-color: vars.$secondary-color;
        border-radius: 10px;
        code {
            width: 100%;
            height: 100%;
            font-size: 10px;
            overflow: auto;
            &::-webkit-scrollbar{
                width: 10px;
                box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
                border-radius: 10px;
                background-color: vars.$secondary-color;
            }
            &::-webkit-scrollbar-thumb{
                border-radius: 10px;
                box-shadow: inset 0 0 6px rgba(0,0,0,.3);
                background-color: lighten(vars.$primary-color, 20%);
            }
        }
    }
    div {
        position: absolute;
        top: 16px;
        right: 16px;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
            cursor: pointer;
        }
        &:hover i {
            color: vars.$r1-font;
            transform: scale(1.4);
        }
        i {
            font-size: 25px;
            color: vars.$third-color;
            transition: all ease 0.3s;
        }
    }
}

//evitar hacer scroll cuando se hace scroll
.no-scroll {
    overflow: hidden; /* Previene el desplazamiento */
}

///// cuadrar botones

///////////// primera nav

.main__container-nav1 {
    width: 90%;
    height: 100px;
    background: linear-gradient(180deg, rgb(33, 121, 33), rgb(44, 158, 44));
    border-radius: 15px;
    box-shadow: 2px 3px 4px rgb(0, 0, 0);
    ul {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        li {
            background-color: rgb(245, 47, 47);
            width: 120px;
            height: 80px;
            border-radius: 10px;     
            a {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                background: linear-gradient(180deg, rgb(33, 121, 33), rgb(44, 158, 44));
                color: white;
                font-weight: 200;
                font-size: 2rem;
                border-radius: 10px;
                transition: all ease-in-out 0.2s;
                &:hover {
                    cursor: pointer;
                    font-weight: 600;
                    font-size: 2.4rem;
                    border-radius: 25px;
                }
            }
        }
    }
}


///////////// segundo nav


.main__container-nav2 {
    width: 75%;
    height: 80px;
    position: relative;
    background: linear-gradient(180deg, rgb(31, 1, 165), rgb(83, 45, 255));;
    border-radius: 15px;
    box-shadow: 3px 2px 4px rgb(44, 44, 44);
    .cliped {
        z-index: 1;
        width: 150px;
        height: 150px;
        position: absolute;
        top: 0px;
        left: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(235, 153, 2);
        clip-path: url(#figuracliped);
        transition: all 0.7s ease-in-out;
        animation: clipedd 20s linear 0.02s infinite normal none running;
    }
    @keyframes clipedd {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }
    ul {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .clicked2 {
            color: rgb(47, 0, 255);
            font-weight: 600;
            font-size: 2.4rem;
        }
        li {
            z-index: 2;
            width: 120px;
            height: 80px;  
            a {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
                font-weight: 200;
                font-size: 2rem;
                cursor: pointer;
                transition: all ease-in-out 0.2s;
                &:hover {
                    font-weight: 600;
                    font-size: 2.4rem;
                }
            }
        }
    }
}

// animaciones al dar click

.cliped-rigthf {
    z-index: 1;
    width: 150px;
    height: 150px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(235, 153, 2);
    clip-path: url(#figuracliped);
    transition: all 0.7s ease-in-out;
    animation: clipeddrigfast 0.7s linear 0.00001s infinite normal forwards running;
}
@keyframes clipeddrigfast {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.cliped-rigths {
    z-index: 1;
    width: 150px;
    height: 150px;
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(235, 153, 2);
    clip-path: url(#figuracliped);
    transition: all 0.7s ease-in-out;
    animation: clipeddrigslow 20s linear 0.01s infinite normal none running;
}
@keyframes clipeddrigslow {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


.cliped-leftf {
    z-index: 1;
    width: 150px;
    height: 150px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(235, 153, 2);
    clip-path: url(#figuracliped);
    transition: all 0.7s ease-in-out;
    animation: clipeddleffast 0.7s linear 0.00001s infinite normal forwards running;
}
@keyframes clipeddleffast {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}

.cliped-lefts {
    z-index: 1;
    width: 150px;
    height: 150px;
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(235, 153, 2);
    clip-path: url(#figuracliped);
    transition: all 0.7s ease-in-out;
    animation: clipeddlefslow 20s linear 0.01s infinite normal none running;
}
@keyframes clipeddlefslow {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}


///////////// tercer nav