// colores principales
$primary-color: #08141E;
$secondary-color: #F5FDF8;
$third-color: rgb(6, 0, 65);


// colores para textos
$b1-font: #000;
$b2-font: #474747;
$b3-font: #747474;

$r1-font: #ee6b6b;

$w1-font: #f2fff2;

// tamaños letras

$t1-size: 1.8rem;
$t2-size: 2.3rem;
$t3-size: 2.8rem;