<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Página que muestra componentes web propios">
    <meta name="robots" content="index, follow">
    <link rel="stylesheet" href="../styles/css/index.css">
    <link rel="stylesheet" href="../styles/css/movil-queries.css" media="(max-width: 860px)"> <!-- Mobile styles -->
    <link rel="icon" href="../assets/logos/elements.png">

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">

    <script src="../js/index/index.js" defer></script>
    <title>WebElements</title>
</head>
<body>
    <header class="header">
        <figure class="header__logo">
            <img src="../assets/logos/elements.png" alt="imagen logo de elementes">
        </figure>
        <nav class="header__nav">
            <ul>
                <li><a href="./index.html">Inicio</a></li>
                <li><a href="./navbars.html">Navbars</a></li>
                <li><a href="">Cards</a></li>
                <li><a href="">Menus</a></li>
            </ul>
        </nav>
    </header>
    <main class="main">
        <h1 class="main__tittle">Bienvenido a "Elements"</h1>
        <hr>
        <p class="main__paragraph">
            <strong>Mi laboratorio digital donde cada componente es una pieza de mi viaje como desarrollador web.</strong>
        </p>
        <p class="main__paragraph">
            Este proyecto es el reflejo de mi pasión por el diseño y la programación, presentando una colección de elementos web desde nabvars dinámicos y menús desplegables hasta animaciones y carruseles de imágenes, cada uno diseñado con el propósito de demostrar las posibilidades creativas y técnicas en el desarrollo web.
        </p>
        <p class="main__paragraph">
            <span>"Elements"</span> no solo es una vitrina de mi trabajo, sino también un espacio para inspirar y ser inspirado. Sumérgete y explora las piezas de este rompecabezas digital que he construido pieza por pieza.
        </p>
    </main>
</body>
</html>